
.container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    height: 100vh; /* Make the container take up the full height of the viewport */
  }
.search-container{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}


form{
    position: relative;
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
    border: black;
}

form input {
    flex: 1;
    bottom: none;
    outline: none;
}

form button {
    background: black;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
.head {
    text-align: center;
    position: relative;
    margin-top: -400px; /* Add some space below the header */
}

.desc {
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

.results {
    text-align: left;
    position: relative;
    top: 100px;
}